<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions />
	<actions>
        <action name="dispRhclaimAdminConfig" type="view" admin_index="true" menu_name="menu_Rhclaim" menu_index="true" />
        <action name="dispRhclaimAdminTabEx" type="view" />
        <action name="procRhclaimAdminInsertConfig" type="controller" />

        <action name="dispRhclaimList" type="view" index="true" />


    </actions>
    <menus>
        <menu name="menu_Rhclaim" type="all">
            <title xml:lang="ko">클레임 처리</title>
            <title xml:lang="en">Claim Handling</title>
        </menu>
    </menus>
</module>
